* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.section_one {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(5, 25, 54, 0.3), rgba(4, 10, 46, 0.7)), url('images/fast1.jpg');
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;


}

/* .section_one img {
    z-index: -1;
    position: absolute;
    background-size: cover;
    height: 80vh;
    width: 100%;


} */

/* Section one first nav */

.main_heading .section_one .top_nav {
    display: flex;
    margin-bottom: 100px;
}

.top_nav {
    margin-top: 5vh;
    color: white;
    font-size: 20px;
}

.top_nav ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;


}

.top_nav ul li {
    list-style: none;
    justify-content: space-between;
    margin-left: 50px;
}

.top_nav p {
    margin-right: 30vw;
    margin-left: 10vw;

}

/* section one second nav */

.section_one .second_nav {
    text-align: center;
    margin-bottom: 50px;

}

.section_one .second_nav h1 {
    font-size: 90px;
    font-style: italic;
    font-family: Calibri;
    color: whitesmoke;
    font-weight: 1000;
}

.section_one .second_nav p {

    font-size: 27px;
    color: whitesmoke;
}


/* section one third - search nav */

.Serach_nav {
    text-align: center;
    border: 1px solid rgb(226, 220, 220);
    height: 8vh;
    width: 55vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    background-color: white;
    padding: 13px;
    border-radius: 10px;
}

.Serach_nav input {
    width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px;
}

.Serach_nav select {
    width: 30%;
    border: none;
    outline: none;
    font-size: 18px;
    height: 5vh;
    border-right: 2px solid gray;
}

.menu-btn {
    position: absolute;
    top: 23px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
    background-color: wheat;
    background: none;
}

/* Second card Section Start here */



.main_second_section {
    margin-top: 7vh;
    margin-bottom: 7vh;

}

.main_second_section .card-title {
    color: black;
}

.main_second_section .card-text {
    color: gray;
}

/* .card_div {
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

.seconddiv_card_one {
    transition: transform .4s ease;
}

.seconddiv_card_one .card {
    border-radius: 10px;
}

.seconddiv_card_one:hover {
    transform: scale(1.1);
}


.seconddiv_card_one img {
    width: 100%;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seconddiv_card_one a {
    text-decoration: none;
}

.seconddiv_card_two {
    transition: transform .4s ease;
}

.seconddiv_card_two .card {
    border-radius: 10px;
}

.seconddiv_card_two:hover {
    transform: scale(1.1);
}

.seconddiv_card_two img {
    width: 100%;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seconddiv_card_two a {
    text-decoration: none;
}


/* Third section 4 cards start here  */

.section3card {
    position: relative;
    cursor: pointer;
}

.section3card .card {
    border-radius: 15px;
}

.section3card .card-body {
    position: absolute;
    bottom: 1px;
}

.section3card p {
    color: white;
    margin: 0;
    padding: 0;
}

.section3card blockquote {
    margin-bottom: 10vh;
    color: white;
    margin: 0;
    padding: 0;
}

.main_third_section {
    margin-bottom: 10vh;
}

.main_third_section .third_div_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_third_section img {
    height: 50vh;
    border-radius: 15px;
}


/* Fourth Section 9 cards start here */

.section4card {
    margin-bottom: 20px;
}


.section4card .card:hover {
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
}

.main_fourth_section .fourthsectiontext {
    margin-bottom: 5vh;
}


/* Fifth Section moble email etc */

.main_fifth_section {
    background-image: linear-gradient(rgb(255, 251, 247), rgba(255, 251, 247, 0.158));
    margin-top: 15vh;
    padding: 15vh 0;
}

.fifth_div_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_fifth_section img {
    height: 45vh;
    width: 20vw;
}


.main_fifth_section p {
    margin-top: 5vh;
    margin-bottom: 3vh;
}



.radiobtn {
    font-size: 3vmin;
    margin-bottom: 1.5vh;
}

.radiobtn .radiophone {
    margin-left: 2vw;
}

.input_button_div {
    margin-bottom: 5vh;
}

.input_button_div input {
    font-size: 3vmin;
    padding: 1vh 2vw;
    border-radius: 7px;
    border-color: tomato;
}

.input_button_div a {
    font-size: 3vmin;
    padding: 1.5vh 2vw;
    margin-left: 1vw;
    border-color: rgba(255, 99, 71, 0.61);
    background: rgba(255, 99, 71, 0.61);
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
    font-weight: 400;
    border-radius: 7px;
}

.input_button_div a:hover {
    background-color: tomato;
    color: white;
    border-radius: 7px;
}

.appimage {
    margin-top: 0px;
    padding-top: 0px;
}

.appimage img {
    height: 7vh;
    width: 11vw;
}



/* Sixth section accordion start here */

.main_sixth_section {
    margin-bottom: 10vh;
}


.main_sixth_section .accordion-item {
    margin-top: 3vh;
    border: 2px solid black;
}

.accordion_last_for_bottom {
    border: none;
}



#headingTwo,
#headingThree,
#headingFour {
    border-top: 2px solid black;
}



/* Footer section start here */

/* Footer first sec */

#footer_sec {
    padding-top: 5vh;
    background-color: rgba(245, 245, 220, 0.363);
}

.footer_section .footer_first_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem !important;
}

.footer_first_div h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
}


.footer_first_sub_two .dropdown_one {
    margin-right: 3vw;
}





.footer_first_sub_two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Footer second sec */

.main_footer_second_container {
    display: flex;
    margin-top: 4vh;
}

.footer_second_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_second_div img {
    margin-top: 3vh;
}

/* Footer third sec */
.main_footer_third_container {
    margin-top: 5vh;
    padding-bottom: 8vh;
}







@media only screen and (max-width:850px) {

    .menu-btn {
        display: block;
    }

    .getapp {
        position: absolute;
        top: 30px;
        left: 30px;
    }


    .section_one {
        padding: 0;

    }

    /* .top_nav{
        width: 100vw;
    } */

    .nav_link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 80vh;
        background-color: rgb(53, 59, 80);
        margin-top: -1200px;
        transition: all 0.5s ease;

    }

    .mobile-menu {
        margin-top: -35px;
        /* border-bottom-right-radius: 30%; */
    }

    .nav_link li {
        margin: 30px auto;
    }

    .second_nav {
        flex-direction: column;
    }

    .second_nav .center-icon {
        margin: 20px auto;
    }

    /* .col img {
        max-width: 90%;
    } */

    .fifth_div_rightsec {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


}